[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Filipp Tulkin
	email = filipptlkin@gamil.com
[alias]
	history = log --graph 
[core]
	editor = code --wait